.Left{
    width:23%;
    top:3rem;
    
    
    height:400px;
    background-color: var(--white-smoke);
    display:flex;
    flex-direction: column;
    
   overflow: hidden;
   overflow-y: scroll;
}
.Left::-webkit-scrollbar{
    width:1.3em;
    background-color: var(--white-smoke);
}
.profile{
   display: flex;
   align-items: center;
  height: 80px;
  width: 95%;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;  
}
.profile:hover{
    background-color:var(--light-gray);
}
.profile h3{
   font-size: 0.8rem;
   
   margin-left: 5px;
}

.Img{
   height: 35px;
   width: 35px;

   
   background-size: cover;
   background-position: 50%;
      margin-left: 10px;
       margin-right: 10px;
   border-radius: 50%;
}


.onMouseLeave{
    width:23%;
    top:3rem;
    
    
    height:400px;
    background-color: var(--white-smoke);
    display:flex;
    flex-direction: column;
    
   overflow: hidden;
   overflow-y: scroll;


}
.onMouseLeave::-webkit-scrollbar{
    width:1.3em;
    background-color: var(--white-smoke);
    border-radius: 10px;
}
.onMouseLeave::-webkit-scrollbar-thumb{
    background-color: var(--white-smoke);
    border-radius: 10px;
    width:90%;
    border:3px solid var(--white-smoke);

}
.onMouseEnter{
    width:23%;
    top:3rem;
    
    
    height:400px;
    background-color: var(--white-smoke);
    display:flex;
    flex-direction: column;
    
   overflow: hidden;
   overflow-y: scroll;
    
}


.onMouseEnter::-webkit-scrollbar{
    width:1.3em;
    background-color: var(--white);
    border-radius: 10px;
}
.onMouseEnter::-webkit-scrollbar-thumb{
    background-color: var(--thumb);
    border-radius: 10px;
    width:90%;
    border:3px solid var(--white);

}
.left-content{
    margin-left: 10px;
    display: flex;
    align-items: center;
    height:40px;
    width:90%;
    border-radius: 15px;
    cursor: pointer;
}
.icon{
    margin-left: 10px;
}
.left-content:hover{
    background-color:var(--light-gray);
}
.left-content h4{
    font-size: 13px;
    color:black;
    font-weight: 500;
    margin-left: 10px;
}