@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&family=Titillium+Web:wght@600&display=swap');
.Right_content{
    margin-top:10px;
    width: 25%;
}
.Right{
    
    width:100%;
    max-height:500px;
    overflow: scroll;
    margin-right: 5px;
   background-color: var(--white-smoke);
   margin-top: 10px;
}
.Right_content h2{
   text-align: center; 
   font-family: 'Lobster', cursive;
   color: var(--text);
   font-weight: 800;
   text-shadow: 2px 2px #ff4081;
}
.loader{
    margin-inline: auto;
    margin-top: 5px;
    height:100px;
    width:100%;
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
}
.right_header{
    display: flex;
    width: 90%;
    margin-inline: auto;
    justify-content: center;
    align-items: center;

}

.right_header_img{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    border: 2px solid #ff4081;
}
.loader-photo{
    margin: auto;
    width:30%;
    height: 50px;
    margin-top: 20px;
    margin-left:10px;
    border-radius: 10px;
    background-color: var(--white-smoke);
}

.Right::-webkit-scrollbar{
    width:0px;
}
 .Img1{
   width:30%;
   
   border-radius: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   margin:auto;
   margin-top: 10px;
   margin-left: 10px;
}
.new{
    width:100%;
    
    margin-inline: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    margin-top: 5px;
}
.new h5{
    margin-top: 4px;
    margin-left: 4px;
    font-weight: 700;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.new:hover{
    background-color: var(--white-smoke);
}
.new h2{
    text-align: center;
}
.new a{
display: flex;
    text-decoration: none;
    color:gray;
    display: flex;
}
@media(max-width : 768px) {
 .Right_content{
    height: 0;
    width: 0;
    opacity: 0;
}
}