.Right{
    margin-top:10px;
    width:25%;
    max-height:500px;
    overflow: scroll;
    margin-right: 5px;
  background-color: var(--white-smoke);
}
.loader{
    margin-inline: auto;
    margin-top: 5px;
    height:20%;
    width:100%;
    background-color: var(--white);
    border-radius: 10px;
}
.loader-photo{
    margin: auto;
    width:35%;
    height: 40%;
    margin-top: 20px;
    margin-left:10px;
    border-radius: 10px;
    background-color: var(--white-smoke);
}

.Right::-webkit-scrollbar{
    width:0px;
}
 .Img1{
   width:30%;
   
   border-radius: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   margin:auto;
   margin-top: 10px;
   margin-left: 10px;
}
.new{
    width:100%;
    
    margin-inline: auto;
    border-radius: 10px;
    
    background-color: var(--white);
    margin-top: 5px;
}
.new h5{
    margin-top: 4px;
    margin-left: 4px;
    font-weight: 400;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.new:hover{
    background-color: var(--white-smoke);
}
.new h2{
    text-align: center;
}
.new a{
display: flex;
    text-decoration: none;
    color:gray;
    display: flex;
}
